@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


body {
    background-color: #2d2c6c;
}


/* La section tchat à gauche */

.section_tchat {
    display: flex;
    justify-content: center;
    margin:auto;
}

/* La section contact à gauche */

.section_contact {
    width: 300px;
    height: 100%;
    background: #0b111b;
    padding: 25px;
    margin: 0px 0px ;
    box-shadow: 8px 0px 5px 0px rgba(0,0,0,0.3);
    position: absolute;
}

.section_contact h1 {
    text-align: left;
    padding-bottom: 15px;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
}

.section_contact .contact_scroll {
    width: 300px;
    height: 525px;
    overflow-x:hidden;
}


.section_contact .contact_scroll::-webkit-scrollbar {
    width: 10px;
}

.section_contact .contact_scroll::-webkit-scrollbar-thumb {
    background: rgba(216, 216, 216, 0.1);
    border-radius: 15px;
}

.contact  button {
    width: 100%;
    height: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: #2d2c6c;
    opacity: 1;
    transition: 0.8s;
    margin-top: 5px;
    border: none;

}

.contact button:hover {
    background-color: #f0f0f0;
    color: #0b111b;
    opacity: 1;
    transition: 0.8s;
}

.contact a {
    text-decoration:none;
}

.contact button {
    color:whitesmoke;
}
.contact .name {
    text-transform: uppercase;
    font-size: 18px;
    margin-left: 40px;
}

.erreur {
    text-align: center;
    color : rgb(230, 63, 63);
}

/* bouton Envoyer et textbox */

.message_box {
    flex-direction: row;
    width: 100%;
}

.message_box form {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    margin-right: auto;
    margin-left: auto;

}

.message_box button[type=submit] {
    border: 0px solid #131313;
    background: #f0f0f0;
    border-radius: 25px;
    background-color: #3496ef;
    color: #f0f0f0;
    padding: 10px 60px;
    cursor: pointer;
    opacity: 1;
    transition: 0.8s;
    margin-left: 10px;

}

.message_box button[type=submit]:hover {
    background-color: #f0f0f0;
    color: #2c2c2c;
    border: 0px solid #2c2c2c;
    opacity: 1;
    transition: 0.8s;
}

.message_box textarea {
    background: #fbfbfb;
    width: 100%;
    height: 25px;
    border-radius: 3px;
    resize: none;
    padding: 10px;
    font-size: 15px;
    color: #333;
    border-radius: 25px;
}


.message_box textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}

.message_box textarea::-webkit-scrollbar {
    width: 10px;
}

.message_box textarea::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0);
}

/* Fenetre Scroll Tchat */

.tchat_title h1 {
    text-align: left;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
}

.container {

    width: 900px;
    border-radius: 10px;
    height: 570px;
    background: #0b111b;
    padding: 25px;
    margin: 120px auto;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

#base-container {
    width: 100%;
    height: 450px;
    overflow-x:hidden;
}

#base-container::-webkit-scrollbar {
    width: 10px;
}

#base-container::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(216, 216, 216, 0.1);
}

/* Message Autres */

.friend-text-div {
    display: flex;
    margin-left: 0.5rem;
}

.friend-text-div>img {
    height: 2rem;
    align-self: flex-end;
}

.friend-text-container {
    width: 10rem;
    display: flex;
    flex-direction: column;
}

.friend-text {
    background: #262626;
    border-radius: 15px 15px 15px 5px;
    color: #fff;
    height: fit-content;
    width: fit-content;
    padding: 0.5rem 1rem;
    margin: 0.12rem 0.5rem;
    word-break: break-all;
}

/* Mes messages */

.my-text-div {
    display: flex;
    justify-content: flex-end;

}

.my-text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.my-text {
    background: linear-gradient(180deg,
            rgba(139, 47, 184, 1) 0%,
            rgba(103, 88, 205, 1) 51%,
            rgba(89, 116, 219, 1) 92%) no-repeat center;
    background-attachment: fixed;
    color: #fff;
    border-radius: 15px 15px 5px 15px;
    height: fit-content;
    width: fit-content;
    word-break: break-all;
    padding: 0.5rem 1rem;
    margin: 0.12rem 0.5rem;
}

/* Taille des messages */

.taille {
    padding: 10px;
    width: 450px;
    margin: 5px;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 1px;
}

/* Responsive */

@media screen and (max-width: 1800px) {

    .taille {
        width: 220px;
        font-size: 12px;
        height: auto;
    }

    .message_box textarea {

        width: 100%;
        height: 20px;
        padding: 10px;
        font-size: 14px;
    }

    .message_box input[type=submit] {
        padding: 10px 35px;
    }

    .container {
        margin: 40px auto;
        width: 390px;
    }
}

@media screen and (min-width: 2200px) {

    .container {
        margin: 150px auto;
    }
}

@media screen and (max-width: 375px) {

    .taille {
        width: 220px;
        font-size: 12px;
        height: auto;
    }

    .message_box textarea {

        width: 100%;
        height: 20px;
        padding: 10px;
        font-size: 14px;
    }

    .message_box input[type=submit] {
        padding: 10px 35px;
    }

    .container {
        margin: 40px auto;
        width: 310px;
    }
}