@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

.topnav {
    background-color: #0b111b;
    overflow: hidden;
    height: 108px;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f0f0f0;
  text-align: center;
  padding: 35px 80px;
  text-decoration: none;
  font-size: 25px;
  text-transform: uppercase;
  opacity: 1;
  transition: 0.8s;
}

.topnav p {
  float: left;
  color: #f0f0f0;
  text-align: center;
  padding: 14px 20px;
  font-size: 50px;
}


/* Change the color of links on hover */
.topnav a:hover {
  background-color: #fd674d;
  color: #f0f0f0;
  opacity: 1;
  transition: 0.8s;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #0b111b;
  color: #f0f0f0;
  
}

/* BOUTON REJOINDRE ET CRER */

body p {
  color: #f0f0f0;
  text-align: center;
  padding: 70px 20px;
  font-size: 50px;
}

.topnav2 {
  background-color: #0b111b;
  overflow: hidden;
  height: 108px;
  box-shadow: 0 0 20px 0 rgb(0, 0, 0), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


/* Style the links inside the navigation bar */
.topnav2 a {

display: block;
color: #f0f0f0;
text-align: center;
padding: 35px 80px;
text-decoration: none;
font-size: 25px;
text-transform: uppercase;
opacity: 1;
transition: 0.8s;
}


/* Change the color of links on hover */
.topnav2 a:hover {
background-color: #3F3DB2;
color: #f0f0f0;
opacity: 1;
transition: 0.8s;
}

/* Add a color to the active/current link */
.topnav2 a.active {
background-color: #0b111b;
color: #f0f0f0;

}

.topnav3 {
  background-color: #0b111b;
  overflow: hidden;
  height: 108px;
  box-shadow: 0 0 20px 0 rgb(0, 0, 0), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


/* Style the links inside the navigation bar */
.topnav3 a {

display: block;
color: #f0f0f0;
text-align: center;
padding: 35px 80px;
text-decoration: none;
font-size: 25px;
text-transform: uppercase;
opacity: 1;
transition: 0.8s;
}


/* Change the color of links on hover */
.topnav3 a:hover {
background-color: #3F3DB2;
color: #f0f0f0;
opacity: 1;
transition: 0.8s;
}

/* Add a color to the active/current link */
.topnav3 a.active {
background-color: #0b111b;
color: #f0f0f0;

}


.topnav4 {
  background-color: #0b111b;
  overflow: hidden;
  height: 108px;
  box-shadow: 0 0 20px 0 rgb(0, 0, 0), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


/* Style the links inside the navigation bar */
.topnav4 a {

display: block;
color: #f0f0f0;
text-align: center;
padding: 35px 80px;
text-decoration: none;
font-size: 25px;
text-transform: uppercase;
opacity: 1;
transition: 0.8s;
}


/* Change the color of links on hover */
.topnav4 a:hover {
background-color: #3F3DB2;
color: #f0f0f0;
opacity: 1;
transition: 0.8s;
}

/* Add a color to the active/current link */
.topnav4 a.active {
background-color: #0b111b;
color: #f0f0f0;

}


body{
  background-color: #2d2c6c;
}
#all{
  display: flex;
  justify-content: center;
  text-align: center;
  
}
input[type=submit] {
  border: 1px solid #131313;
  background: #f0f0f0;
  box-shadow: 0 0 20px 0 rgb(0, 0, 0), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  margin: 45px;
  margin-top: 100%;
  background-color: #3496ef;
  color: #f0f0f0;
  padding: 60px 120px;
  border: none;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #f0f0f0;
  color: #2c2c2c;
  border: 1px solid #2c2c2c;
}