@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

body{
    background: #2d2c6c;
}
#all{
    width:450px;
    margin: 80px auto;
    opacity: 1;
    transition: 0.5s;
}
#container{
    padding: 30px;
    border: 1px solid #131313;
    background: #0b111b;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    color:white;
}
/* Bordered form */
#container h1{
    text-align: center;
    padding-bottom: 10px;
    text-transform: uppercase;
}

/* Full-width inputs */
input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #2d2c6c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 0px solid;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    border-radius: 10px;
    opacity: 1;
    transition: 0.5s;
}
input[type=submit]:hover {
    background-color: #f0f0f0;
    color: #2c2c2c;
    border: 0px solid;
    opacity: 1;
    transition: 0.5s;
}

.erreur {
    text-align: center;
    color : rgb(230, 63, 63);
}

.succes {
    text-align: center;
    color : rgb(110, 225, 110);
}

@media screen and (max-width: 700px) {

    #all{
        width:390px;
        padding: 25px;
        margin: 10px auto;
        opacity: 1;
        transition: 0.5s;
    }
}

@media screen and (min-width: 2200px) {

    #all{
        margin: 180px auto;
        opacity: 1;
        transition: 0.5s;
    }
}